.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__hello {
    padding: 0;
    margin: 74px auto 0;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__form {
    display: flex;
    flex-direction: column;
    margin: 123px auto 0;
    gap: 5px 0px;
    max-width: 410px;
}

.profile__string {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 14px;
    width: 410px;
    padding: 0 0 15px;
}

.profile__string:nth-child(1) {
    border-bottom: #424242 1px solid;
}

.profile__text {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.profile__input {
    color: #FFF;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #202020;
    border: none;
    padding: 0;
    margin: 0;
}

.profile__input_red {
    color: #EE3465;
}

.profile__error {
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0px;
    padding: 0;
    visibility: hidden;
    height: 10px;
}

.profile__error_active {
    visibility: visible;
}

.profile__link {
    background-color: transparent;
    border: none;
    display: block;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 203px auto 0;
    padding: 0;
    width: fit-content;
    cursor: pointer;
}

.profile__link_disabled {
    cursor: auto;
    color: #424242;
}

.profile__exit {
    color: #EE3465;
    font-weight: 500;
    margin: 16px auto 0;
}

@media screen and (max-width: 768px) {
    .profile__hello {
        margin: 236px auto 0;
    }

    .profile__form {
        margin: 96px auto 0;
        gap: 3px 0px;
    }

    .profile__link {
        margin: 193px auto 0;
    }

    .profile__exit {
        margin: 16px auto 0;
    }
}

@media screen and (max-width: 500px) {
    .profile__hello {
        margin: 70px auto 0;
    }

    .profile__form {
        margin: 80px auto 0;
        max-width: 260px;
    }

    .profile__string {
        width: 260px;
    }

    .profile__line {
        width: 260px;
    }

    .profile__link {
        font-size: 12px;
        margin: 361px auto 0;
    }

    .profile__exit {
        margin: 16px auto 0;
    }
}