.project {
    display: flex;
    flex-direction: column;
    padding: 44px 30px;
    margin: 0 40px;
}

.project__title {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: #DADADA solid 1px;
    margin: 66px 0 40px;
    padding: 0 0 10px;
}

.project__about {
    display: flex;
    justify-content: space-between;
    margin: 22px 0 55px;
}

.project__subtitle {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    max-width: 550px;
    margin: 22px 0 0;
    padding: 0 0 13px;
}

.project__text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    max-width: 550px;
    line-height: 20px;
    margin: 13px 0 0;
    padding: 0;
}

.project__plan {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    margin: 55px 0 66px;
    font-size: 14px;
}

.project__period {
    background-color: #3DDC84;
    padding: 9px 0;
    margin: 0;
    margin: 0;
    color: #000;
    font-weight: 400;
    line-height: normal;
}

.project__period:nth-child(2) {
    background-color: #303030;
    color: #FFF;
}

.project__caption {
    color: #8B8B8B;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .project {
        padding: 45px 0;
        margin: 0 50px;
    }

    .project__title {
        margin: 45px 0 17px;
        padding: 0 0 23px;
    }

    .project__about {
        margin: 32px 0 55px;
    }

    .project__subtitle {
        max-width: 319px;
        margin: 22px 0 0;
        padding: 0 0 11px;
    }

    .project__text {
        max-width: 319px;
        font-size: 12px;
        line-height: 18px;
        margin: 11px 0 0;
        padding: 0;
    }

    .project__plan {
        grid-template-columns: 140fr 528fr;
        margin: 38px 0 35px;
    }
}