.save__list {
    margin: 70px 0 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

@media screen and (max-width: 1000px) {
    .save__list {
        margin: 70px 0 194px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 550px) {
    .save__list {
        margin: 40px 0 189px;
        padding: 0 10px;
    }
}