.portfolio {
    padding: 33px 70px 51px;
}

.portfolio__title {
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    margin: 20px 0 0;
    padding: 0;
}

.portfolio__list {
    list-style: none;
    margin: 50px 0 55px;
    padding: 0;
}

.portfolio__site {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
    letter-spacing: -1.2px;
    border-bottom: #424242 solid 1px;
    margin: 0 0 20px;
    padding: 0 0 19px;
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.portfolio__site:hover {
    opacity: 50%;
    transition: 0.5s linear;
}

.portfolio__site_last {
    border-bottom: none;
}

.portfolio__button {
    background-image: url(../../../images/portfolio__button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 7px;
    width: 18px;
    height: 26px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 25px 50px 50px;
    }

    .portfolio__title {
        margin: 20px 0 49px;
    }

    .portfolio__list {
        list-style: none;
        margin: 0 0 40px;
        padding: 0;
    }

    .portfolio__site {
        font-size: 28px;
        letter-spacing: -1.12px;
        border-bottom: #E6E6E6 solid 1px;
    }

    .portfolio__site_last {
        border-bottom: none;
    }

    .portfolio__button {
        top: 15px;
        right: 5px;
        width: 17px;
        height: 25px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio {
        padding: 14px 14px 35px;
    }

    .portfolio__title {
        color: #A0A0A0;
        font-size: 14px;
        margin: 20px 0 41px;
    }

    .portfolio__list {
        margin: 0 0 55px;
    }

    .portfolio__site {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
        border-bottom: #E6E6E6 solid 1px;
        margin: 0 0 21px;
        padding: 0 0 18px;
    }

    .portfolio__button {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 10px;
        height: 19px;
    }

    .portfolio__site_last {
        border-bottom: none;
    }
}