.info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.info_opened {
    opacity: 1;
    visibility: visible;
}

.info__container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 430px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 35px 36px 36px;
}

.info__icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    object-fit: cover;
}

.info__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 15px 0;
    padding: 0;
    max-width: 358px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .info__container {
        width: 282px;
        padding: 25px 22px;
    }

    .info__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        margin: 15px 0;
    }
}