.promo {
    background-color: #272727;
    border-radius: 10px;
    margin: 20px 40px 0;
}

.promo__title {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: -2px;
    padding: 127px 240px 118px 240px;
}

.promo__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.promo__button {
    display: block;
    text-decoration: none;
    width: 96px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    background-color: #303030;
    padding: 10px 0;
    margin: 0 5px 30px 5px;
    border-radius: 10px;
}